<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <title>сайт</title>
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css">
</head>
<body>
    <nav>
        <a class="navbar-brand" href="{% url 'post-list' %}">Головна</a>
        <a href="{% url 'register' %}">Реєстрація</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            {% if request.user.is_authenticated %}
            <p>Вы вошли как: {{ request.user }}</p>
            <button type="submit">Вихід</button>
            <a href="{% url 'post-create' %}">Создать</a>
            <a href="{% url 'view_profile' %}">Профиль</a>
            {% else %}
            <a href="{% url 'login' %}">Вхід</a>
            {% endif %}
        </form>
    </nav>

    {% block content %}
    {% endblock %}
   
</body>
</html>
